* {
    font-family: Helvetica, sans-serif;
}

h1, h2 {
    color: black;
    font-family: Helvetica, sans-serif;
}

.lead {
    color: black;
    font-family: Helvetica, sans-serif;
}

.jumbotron {
    background-color: black;
    margin-bottom: 0;
}

.card-header {
    background-color: white;
    color: black;
    font-family: Helvetica, sans-serif;
}

.card-body {
    background-color: white;
    color: black;
    font-family: Helvetica, sans-serif;
}

th {
    color: black;
    font-family: Helvetica, sans-serif;
}

td {
    color: black;
    font-family: Helvetica, sans-serif;
}

.mainNumber {
    background-color: red;
    border: 2px white solid;
    border-radius: 50%;
    margin: 5px;
    padding: 5px;
    height: 30px;
    width: 30px;
    align-items: center;
    display: flex;
    text-align: center;
    cursor: pointer;
}