* {
    font-family: Helvetica, sans-serif;
    background-color: #202124;
}

.container {
    color: #98ECC3;
    background-color: #202124;
    margin: 0;
    padding: 0;
}

h1, h2, h5 {
    color: white;
    background-color: #202124;
}

.lead {
    color: black;
    font-family: Helvetica, sans-serif;
}

.card {
    color: #98ECC3;
    background-color: #202124;
}

.card-header {
    color: #98ECC3;
    background-color: #202124;
    font-family: Helvetica, sans-serif;
}

.card-body {
    background-color: #202124;
    color: white;
    font-family: Helvetica, sans-serif;
}

th {
    color: white;
    background-color: #202124;
    font-family: Helvetica, sans-serif;
}

td {
    color: white;
    background-color: #202124;
    font-family: Helvetica, sans-serif;
}

.mainNumber {
    background-color: red;
    border: 2px white solid;
    border-radius: 50%;
    margin: 5px;
    padding: 5px;
    height: 30px;
    width: 30px;
    align-items: center;
    display: flex;
    text-align: center;
    cursor: pointer;
}