* {
    font-family: Helvetica, sans-serif;
}

img {
    display: flex;
    height: 250px;
    width: 250px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

.container {
    color: #202124;
    margin: 0;
    padding: 0;
}

.jumbotron {
    background-color: #202124;
}

.h1, h2, h5 {
    color: #202124;
}

.h3 {
    font-size: 3.5rem;
}

.cards {
    display: inline-block;
}

.lead {
    color: #202124;
    font-family: Helvetica, sans-serif;
}

.btn {
    margin: 5px;
}

.card {
    color: #202124;
    background-color: white;
}

.card-header {
    color: #202124;
    background-color: white;
    font-family: Helvetica, sans-serif;
}

.card-body {
    color: #202124;
    background-color: white;
    font-family: Helvetica, sans-serif;
}

th {
    color: #202124;
    background-color: white;
    font-family: Helvetica, sans-serif;
}

td {
    color: #202124;
    background-color: white;
    font-family: Helvetica, sans-serif;
}

.mainNumber {
    background-color: red;
    border: 2px white solid;
    border-radius: 50%;
    margin: 5px;
    padding: 5px;
    height: 30px;
    width: 30px;
    align-items: center;
    display: flex;
    text-align: center;
    cursor: pointer;
}